name = "jfleet"
description = "Native Arch-hosted osbuild demo"
version = "0.0.1"

[[packages]]
name = "python3"
version = "*"

[[customizations.files]]
path = "/opt/tools/http_server.py"
source = "file:///home/you/my-os/files/opt/tools/http_server.py"
mode = "0755"

[[customizations.files]]
path = "/etc/systemd/system/http-server.service"
source = "file:///home/you/my-os/files/systemd/http-server.service"
mode = "0644"

[[customizations.services]]
name = "http-server.service"
enabled = true
