name = "jfleet"
description = "Native Arch-hosted osbuild demo"
version = "0.0.1"
distro = "centos-9"
arch = "x86_64"

customizations.hostname = "jfleet-node"

[customizations.timezone]
timezone = "America/New_York"
ntpservers = ["0.north-america.pool.ntp.org", "1.north-america.pool.ntp.org"]

[customizations.locale]
languages = ["en_US.UTF-8"]
keyboard = "us"

[customizations.services]
enabled = ["pycomms-server.service"]
disabled = []
masked = []

[customizations.kernel]
append = "quiet splash"

[[packages]]
name = "python3"
version = "*"

[[packages]]
name = "systemd"
version = "*"


[[customizations.user]]
name = "user"
description = "Primary User"
groups = ["wheel"]
home = "/home/user"
shell = "/bin/bash"

[[customizations.directories]]
path = "/opt/pycomms"
mode = "0750"
user = "user"
group = "user"
ensure_parents = true

# Install PyComms server
[[customizations.files]]
path = "/opt/pycomms/pycomms_server.py"
uri = "file:///j/proj/jfleet/pycomms/pycomms_server.py"
mode = "0755"

[[customizations.files]]
path = "/etc/systemd/system/pycomms-server.service"
uri = "file:///j/proj/jfleet/pycomms/pycomms-server.service"
mode = "0644"

# Symlink to enable the service at boot
[[customizations.files]]
uri = "/usr/lib/systemd/system/pycomms-server.service"
destination = "/etc/systemd/system/multi-user.target.wants/pycomms-server.service"
type = "symlink"

# Install Auto-Login getty on tty1
[[customizations.files]]
path = "/etc/systemd/system/getty@tty1.service.d/autologin.conf"
uri = "file:///j/proj/jfleet/login-controls/autologin.conf"
mode = "0644"

# Install passwordless sudo
[[customizations.files]]
path = "/etc/sudoers.d/user"
uri = "file:///j/proj/jfleet/login-controls/user"
user = "root"
group = "root"
mode = "0440"



